.about {
  position: relative;


  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 490px;
    background-color: $black;
    z-index: -1;

    @include big-desktop {
      height: 378px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 189px;
    padding-left: 120px;
    background: url("../img/1-about.webp") left 70px top 10px no-repeat transparent;
    background-size: 677px 505px;

    @include big-desktop {
      background: url("../img/1-about.webp") left top 10px no-repeat transparent;
      max-width: 1160px;
      padding-top: 140px;
      padding-bottom: 215px;
      padding-left: 0;
      background-size: 577px 391px;
    }
  }

  &__heading {
    grid-area: 1 / 4 / 2 / 13;
    margin-bottom: 19px;
    font-size: 50px;
    line-height: 59px;
    font-weight: 700;
    color: $white;
    letter-spacing: .03em;
    text-transform: uppercase;

    @include big-desktop {
      grid-area: 1 / 4 / 2 / 13;
      font-size: 40px;
      line-height: 49px;
    }
  }

  &__subheading, &__subtitle {
    align-self: end;
    max-width: 598px;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: .03em;
    color: $black;
    text-transform: uppercase;

    @include big-desktop {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__subtitle {
    padding-top: 250px;
    grid-area: 2 / 1 / 3 / 6;

    @include big-desktop {
      padding-top: 200px;
    }
  }

  &__subheading {
    grid-area: 3 / 1 / 4 / 6;
    margin-bottom: 8px;

    @include big-desktop {
      grid-area: 3 / 1 / 4 / 5;
    }
  }

  &__country {
    font-weight: 300;
  }

  &__subscr {
    display: block;
    font-size: 20px;
    line-height: 23px;

    @include big-desktop {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__descr {
    grid-area: 4 / 1 / 5 / 6;
    max-width: 598px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    color: $black;

    @include big-desktop {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__card-1 {
    grid-area: 2 / 6 / 5 / 11;
  }


}

.card {
  max-width: 572px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 270px 35px;
  background: url('../img/2-about.webp') center center no-repeat transparent;
  background-size: cover;

  @include big-desktop {
    padding: 201px 21px;
  }

  &__text {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    letter-spacing: .03em;
    color: $white;
    text-transform: uppercase;

    @include big-desktop {
      font-size: 25px;
      line-height: 29px;
    }
  }

  &__year {
    font-size: 150px;
    line-height: 175px;
    font-weight: 700;

    @include big-desktop {
      font-size: 130px;
      line-height: 152px;
    }
  }

  &__info {
    font-size: 39px;
    line-height: 46px;
    font-weight: 300;
    color: $white;
    letter-spacing: .03em;
    text-transform: uppercase;

    @include big-desktop {
      font-size: 30px;

    }
  }
}

.card-today {
  grid-area: 4 / 9 / 6 / 13;
  max-height: 377px;
  padding: 116px 35px;
  background: url("../img/3-about.webp") center center no-repeat transparent;
  background-size: cover;

  @include big-desktop {
    padding: 88px 49px;
    position: absolute;
    bottom: 15px;
    right: 100px;
  }

  &__text {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;

    @include big-desktop {
      max-width: 355px;
      font-size: 25px;
      line-height: 29px;
    }
  }
}
