.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 135px;
  height: 100vh;
  z-index: 9999;

  @include big-desktop {
    width: 100px;
  }

  @include tablet {
    width: 75px;
  }

  @include extra-tablet {
    width: 40px;
  }


  &__container {
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid $scroll-gray;

    @include extra-tablet {
      padding-top: 40px;
      border-left-color: transparent;
    }

    @include mobile {
      padding-top: 20px;
      padding-right: 20px;
      align-self: flex-end;
    }
  }

  &__icon {
    margin-top: auto;
    width: 38px;
    height: 63px;
    fill: transparent;
    stroke: $scroll-gray;

    @include extra-tablet {
      display: none;
    }
  }
}

.burger {
  position: relative;
  width: 43px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: none;
  transition: transform .3s ease-in-out;

  @include extra-tablet {
    width: 30px;
  }

  &::after, &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: $scroll-gray;
  }

  &::after {
    top: auto;
    bottom: 0;
  }

  &__line {
    width: 100%;
    height: 3px;
    background-color: $scroll-gray;
    transform: none;
    transition: transform .3s ease-in-out;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(101%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 524px;
  height: 100vh;
  padding: 0 142px 10vh 142px;
  background-color: $white;
  z-index: 9998;
  transition: transform .3s ease-in-out;

  @include mobile {
    padding: 0 0 10vh 0;
    width: 100%;
    align-items: center;
    overflow-y: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;

    @include mobile {
      max-width: calc(100% - 30px);
      margin-bottom: 50px;
    }
  }

  &__item {
    margin-bottom: 50px;

    @include extra-tablet {
      margin-bottom: 35px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: $dark-gray;
    letter-spacing: .03em;
    text-transform: uppercase;

    @include big-desktop {
      font-size: 25px;
      line-height: 29px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__dropdown {
    position: relative;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: $dark-gray;
    letter-spacing: .03em;
    text-transform: uppercase;
    cursor: pointer;

    @include big-desktop {
      font-size: 17px;
      line-height: 21px;
    }

    @include mobile {
      font-size: 15px;
      line-height: 19px;
    }

    &::after {
      content: '';
      position: absolute;
      right: -20px;
      top: 35%;
      transform: translateY(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $dark-gray;
      border-right: 2px solid $dark-gray;
      transition: transform .3s ease-in-out;

      @include mobile {
        width: 7px;
        height: 7px;
      }
    }
  }

  .rotate {
    &::after {
      transform: rotate(225deg);
    }
  }

  &__schedule, &__tel {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    color: $dark-gray;

    @include mobile {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__schedule {
    margin-bottom: 6px;
  }

  &__down {
    display: none;
    margin-bottom: 10px;
  }
}

.is-open {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: .3s;
}

.nav__social {
  margin-top: auto;
  align-self: center;

  &-icon {
    max-width: 25px;
    max-height: 25px;
    fill: $black;
  }

  &-list {
    width: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-icon {
    width: 25px;
    height: 25px;
  }
}

.without-border {
  border: none;
}

.burger-open {
  transform: rotate(90deg);
}

.line-down {
  transform: translateX(14px);
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
