.hero {
  position: relative;
  background-color: $black;

  &::after {
    content: '';
    position: absolute;
    top: 360px;
    left: 50%;
    width: 292px;
    height: 294px;
    transform: translateX(-50%);
    border: 20px solid $blue;
  }

  &__container {
    max-width: 1410px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    padding-top: 163px;
    padding-bottom: 120px;
    padding-left: 0;
    background: url("../img/hero-background.webp") left -97px top no-repeat $black;
    background-size: auto;
  }

  &__heading {
    position: relative;
    grid-area: 2 / 6 / 3 / 13;
    margin-bottom: 6px;
    font-size: 45px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: $white;
    z-index: 2;
  }

  &__logo {
    grid-area: 1 / 5 / 2 / 9;
    margin-bottom: 176px;
    transform: none;
  }

  &__breadcrumbs {
    grid-area: 3 / 1 / 4 / 13;
    margin-bottom: 100px;
  }

  &__description {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: $white;
    grid-area: 4 / 1 / 5 / 8;
  }

  &__strong {
    font-weight: 700;
  }

  &__paragraph:not(:last-child) {
    margin-bottom: 1em;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 13px;
    padding-right: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(-45deg);
      border-bottom: 1px solid $white;
      border-right: 1px solid $white;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: $white;
  }
}
