.hero {
  position: relative;
  background-color: $black;

  &__container {
    max-width: 1410px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    padding-top: 163px;
    padding-bottom: 120px;
    padding-left: 0;
    background: url("../img/hero-background.webp") left -113px top no-repeat $black;
    background-size: auto;

    @include big-desktop {
      max-width: calc(100% - 200px);
      padding-top: 140px;
      padding-bottom: 110px;
      background: url("../img/hero-background-1440.webp") left -100px top no-repeat $black;
    }

    @include extra-desktop {
      background-position-y: 50px;
      background-size: 850px 400px;
    }

    @include big-tablet {
      grid-template-columns: repeat(10, 1fr);
      background: url("../img/hero-background-1024.webp") left -60px top no-repeat $black;
    }

    @include extra-tablet {
      grid-template-columns: repeat(8, 1fr);
      max-width: calc(100% - 160px);
      padding-top: 100px;
      background: url("../img/hero-background-768.webp") left -30px top no-repeat $black;
    }

    @include small-tablet {
      max-width: calc(100% - 80px);
      padding-bottom: 100px;
      background: url("../img/hero-background-768.webp") left -30px bottom 605px no-repeat $black;
      background-size: 87.24vw 43.1vw;
    }

    @include mobile {
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      grid-template-columns: repeat(6, 1fr);
      padding-bottom: 40px;
      background: url("../img/hero-background-320.webp") left top 80px no-repeat $black;
      background-size: auto;
    }
  }

  &__heading {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-area: 2 / 6 / 4 / 13;
    padding: 65px 0;
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: $white;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      aspect-ratio: 1 / 1;
      border: 20px solid $blue;
      transform: translateX(-30px);
      z-index: -1;

      @include tablet {
        border: 18px solid $blue;
      }

      @include mobile {
        border: 16px solid $blue;
        transform: translateX(-50px);
      }
    }

    @include big-desktop {
      margin-bottom: 25px;
      font-size: 40px;
      line-height: 46px;
    }

    @include extra-desktop {
      font-size: 2.78vw;
    }

    @include big-tablet {
      grid-area: 2 / 6 / 4 / 11;
      padding: 65px 40px 65px 0;
      justify-self: right;
      margin-bottom: 5px;
    }

    @include tablet {
      padding: 45px 0;
    }

    @include extra-tablet {
      grid-area: 2 / 5 / 4 / 9;
      padding: 50px 0;
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 40px;
    }

    @include small-tablet {
      margin-bottom: 0;
    }

    @include mobile {
      grid-area: 2 / 5 / 4 / 7;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 25px;
    }
  }

  &__logo {
    padding: 0;
    grid-area: 1 / 6 / 2 / 13;
    margin-bottom: 26px;
    justify-self: flex-start;
    transform: translateX(-75px);

    @include big-tablet {
      grid-area: 1 / 1 / 2 / 11;
      justify-self: right;
      padding-right: 130px;
    }

    @include extra-tablet {
      grid-area: 1 / 1 / 2 / 9;
      margin-bottom: 40px;
    }

    @include small-tablet {
      margin-bottom: 25px;
      padding-right: 0;
      transform: translateX(-80%);
    }

    @include mobile {
      grid-area: 1 / 1 / 2 / 7;
      margin-bottom: 33px;
      justify-self: right;
      padding: 0;
      transform: translateX(-55px);
    }
  }

  &__breadcrumbs {
    position: relative;
    grid-area: 2 / 1 / 3 / 6;
    align-self: flex-end;
    padding-top: 200px;
    margin-bottom: 100px;
    z-index: 2;

    @include big-desktop {
      padding-top: 160px;
    }

    @include big-tablet {
      grid-area: 2 / 1 / 3 / 6;
      padding-top: 130px;
      margin: 0;
    }

    @include tablet {
      padding-top: 140px;
    }

    @include extra-tablet {
      grid-area: 2 / 1 / 3 / 5;
      padding-top: 100px;
    }

    @include small-tablet {
      grid-area: 4 / 1 / 5 / 7;
      align-self: flex-start;
      margin-bottom: 60px;
    }

    @include mobile {
      padding-top: 0;
      margin-bottom: 35px;
    }
  }

  &__description {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: $white;
    grid-area: 4 / 1 / 5 / 8;

    @include big-desktop {
      font-size: 25px;
      line-height: 30px;
    }

    @include big-tablet {
      font-size: 20px;
      line-height: 25px;
    }

    @include small-tablet {
      max-width: 496px;
      grid-area: 4 / 1 / 5 / 9;
      font-size: 18px;
      line-height: 23px;
    }

    @include tablet {
      grid-area: 5 / 1 / 6 / 9;
    }

    @include mobile {
      grid-area: 5 / 1 / 6 / 7;
      max-width: 100%;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__strong {
    font-weight: 700;
  }

  &__paragraph:not(:last-child) {
    margin-bottom: 1em;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__item {
    max-width: 400px;
  }

  &__item:not(:last-child) {
    position: relative;
    margin-right: 13px;
    padding-right: 20px;

    @include mobile {
      margin-right: 10px;
      padding-right: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(-45deg);
      border-bottom: 1px solid $white;
      border-right: 1px solid $white;

      @include mobile {
        width: 5px;
        height: 5px;
        transform: translateY(-10%) rotate(-45deg);
      }
    }
  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: $white;

    @include big-desktop {
      font-size: 18px;
      line-height: 22px;
    }

    @include extra-desktop {
      font-size: 1.25vw;
    }

    @include big-tablet {
      font-size: 17px;
      line-height: 20px;
    }

    @include small-tablet {
      font-size: 15px;
      line-height: 18px;
    }

    @include mobile {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.block {
  @include big-tablet {
    display: block;
  }
}

.hero__description p span {
  font-family: 'Roboto', sans-serif !important;
  font-size: 30px !important;
  line-height: 35px !important;
  font-weight: 300 !important;
  color: $white !important;

  @include big-desktop {
    font-size: 25px !important;
    line-height: 30px !important;
  }

  @include big-tablet {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  @include small-tablet {
    font-size: 18px !important;
    line-height: 23px !important;
  }

  @include mobile {
    font-size: 14px !important;
    line-height: 16px !important;
  }
}

.hero__description strong {
  font-weight: 700;
}

.hero__description p strong {
  font-weight: 700;
}

.hero__description p:not(:last-child) {
  margin-bottom: 1em;
}
