.iblock-4 {
  &__container {
    max-width: 1410px;
    padding-left: 0;
    padding-top: 100px;
    padding-bottom: 150px;

    @include big-desktop {
      max-width: calc(100% - 200px);
      padding-bottom: 140px;
    }

    @include big-tablet {
      padding-top: 80px;
      padding-bottom: 100px;
    }

    @include extra-tablet {
      max-width: calc(100% - 160px);
    }

    @include small-tablet {
      max-width: calc(100% - 80px);
      padding-bottom: 70px;
      padding-top: 0;
    }

    @include mobile {
      max-width: calc(100% - 30px);
      padding-top: 20px;
      padding-bottom: 60px;
    }
  }

  &__heading {
    margin-bottom: 90px;
    @include services-card-heading;

    @include big-desktop {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__list {
    @include big-tablet {
      max-width: 650px;
    }

    @include small-tablet {
      max-width: 485px;
    }
  }

  &__item {
    @include services-card-item;
  }

  &__item:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.iblock-4__item ul li {
  @include services-card-item;
}

.iblock-4__item ul li:not(:last-child) {
  margin-bottom: 0.5em;
}
