.partners {
  &__container {
    max-width: 1410px;
    padding-top: 86px;
    padding-bottom: 86px;

    @include big-desktop {
      max-width: 1060px;
    }

    @include big-tablet {
      max-width: calc(100% - 280px);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 75px 157px;
    background-color: $gray-35;

    @include big-desktop {
      padding: 88px 110px;
    }
  }

  &__image-1 {
    @include big-desktop {
      max-width: 75px;
      max-height: 30px;
    }
  }
  &__image-2 {
    @include big-desktop {
      max-width: 139px;
      max-height: 56px;
    }
  }
  &__image-3 {
    @include big-desktop {
      max-width: 84px;
      max-height: 53px;
    }
  }
  &__image-4 {
    @include big-desktop {
      max-width: 158px;
      max-height: 21px;
    }
  }
}
