.question {
  background: url('../img/question-background.webp') center bottom no-repeat transparent;

  @include tablet {
    background: url('../img/question-background-1024.webp') left bottom no-repeat transparent;
  }

  @include small-tablet {
    background: url('../img/question-background-768.webp') left bottom no-repeat transparent;
  }

  &__container {
    padding-top: 140px;
    padding-bottom: 140px;

    @include big-desktop {
      padding-top: 120px;
      padding-bottom: 160px;
    }

    @include tablet {
      padding: 100px 0;
    }

    @include small-tablet {
      padding-top: 44px;
      padding-bottom: 75px;
    }
  }

  &__heading {
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    color: $dark-gray;
    text-transform: uppercase;
    text-align: center;

    @include big-desktop {
      font-size: 30px;
      line-height: 39px;
    }

    @include big-tablet {
      font-size: 25px;
      line-height: 29px;
    }

    @include small-tablet {
      font-size: 20px;
      line-height: 24px;
    }

  }

  &__subtitle {
    margin-bottom: 47px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: $dark-gray;
    text-transform: uppercase;
    text-align: center;

    @include  big-desktop {
      font-size: 25px;
      line-height: 29px;
    }

    @include big-tablet {
      font-size: 20px;
      line-height: 24px;
    }

    @include small-tablet {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 15px;
    }
  }

  &__btn {
    @include btn-primary;
  }
}
