.request {
  background-color: $dark-gray;

  &__container {
    padding-top: 136px;
    padding-bottom: 178px;
  }

  &__heading {
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    color: $white;
    letter-spacing: .03em;
    text-transform: uppercase;
    text-align: center;
  }

  &__subheading {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 47px;
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  }
  &__btn {
    @include btn-primary;
  }
}
