.services {
  &__container {
    padding-top: 70px;
    padding-bottom: 60px;
    max-width: 1410px;

    @include big-desktop {
      max-width: 1060px;
    }

    @include big-tablet {
      max-width: calc(100% - 200px);
    }

    @include tablet {
      max-width: calc(100% - 150px);
    }
  }

  &__heading {
    margin-bottom: 47px;
    font-size: 50px;
    line-height: 59px;
    font-weight: 700;
    color: $dark-gray;
    text-transform: uppercase;
    text-align: center;

    @include big-desktop {
      font-size: 40px;
      line-height: 49px;
    }

    @include big-tablet {
      font-size: 35px;
      line-height: 44px;
    }

    @include  tablet {
      font-size: 30px;
      line-height: 39px;
    }
  }

  &__slide {
    background-color: $dark-gray;
  }

  &__card {
    height: 468px !important;
    padding: 45px 31px;

    @include big-tablet {
      height: 420px !important;
    }

    @include tablet {
      height: 400px !important;
    }
  }

  &__swiper {
    padding-bottom: 91px !important;
  }

  &__pagination {
    bottom: 0 !important;
  }

  &__swiper-wrapper {
    align-items: stretch;
  }
}

.category-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 82px;
  justify-content: space-between;

  @include tablet {
    margin-bottom: 40px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;

    @include big-desktop {
      margin-right: 61px;
    }

    @include big-tablet {
      margin-right: 40px;
    }

    @include tablet {
      margin-right: 39px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: $dark-gray;
    cursor: pointer;

    @include big-desktop {
      font-size: 20px;
      line-height: 23px;
    }

    @include tablet {
      font-size: 17px;
      line-height: 25px;
    }
  }

  &__underline {
    display: block;
    width: 90px;
    height: 6px;
    margin-top: auto;
    background-color: $scroll-gray;
    transition: background-color .3s ease-in-out;

    @include big-desktop {
      width: 67.5px;
    }

    @include tablet {
      width: 50px;
    }
  }
}

.is-active {
  font-weight: 600;
}

.is-active + .category-list__underline {
  background-color: $blue;
}

.no-wrap {
  white-space: nowrap;
}

.services-card {
  height: 100%;
  padding: 45px 31px;
  display: flex;
  flex-direction: column;

  @include big-desktop {
    padding: 20px 23px;
  }

  &__image {
    margin-bottom: 26px;

    @include big-desktop {
      margin-bottom: 20px;
    }

    @include big-tablet {
      max-width: 71px;
      max-height: 71px;
    }
  }

  &__heading {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;

    @include big-desktop {
      margin-bottom: 12px;
      font-size: 25px;
      line-height: 29px;
    }

    @include big-tablet {
      font-size: 23px;
      line-height: 27px;
    }

    @include tablet {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__descr {
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    color: $white;

    @include big-desktop {
      font-size: 17px;
      line-height: 20px;
    }

    @include big-tablet {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__btn {
    position: relative;
    width: 70px;
    height: 70px;
    margin-top: auto;
    border-radius: 100%;
    background-color: $light-gray;

    @include big-desktop {
      width: 44px;
      height: 44px;
    }

    @include big-tablet {
      width: 40px;
      height: 40px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 10px;
      height: 10px;
      border-bottom: 3px solid $dark-gray;
      border-right: 3px solid $dark-gray;

      @include big-desktop {
        width: 6px;
        height: 6px;
      }
    }
  }
}
