.statistic {
  background-color: $blue;

  &__container {
    max-width: 1410px;
    padding-top: 246px;
    padding-bottom: 250px;

    @include big-desktop {
      max-width: 1060px;
      padding: 170px 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__numeric {
    font-size: 100px;
    line-height: 117px;
    font-weight: 700;
    color: $white;
    letter-spacing: .03em;

    @include big-desktop {
      font-size: 80px;
      line-height: 93px;
      text-align: center;
    }
  }

  &__dlc {
    display: inline-block;
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
    transform: translateX(-25px);

    @include big-desktop {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__descr {
    max-width: 250px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    color: $white;
    letter-spacing: .03em;
    text-transform: uppercase;
    text-align: center;

    @include big-desktop {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
