.statistic {
  background-color: $blue;

  &__container {
    max-width: 1410px;
    padding-top: 246px;
    padding-bottom: 250px;

    @include big-desktop {
      max-width: 1060px;
      padding: 170px 0;
    }

    @include big-tablet {
      max-width: calc(100% - 200px);
    }

    @include tablet {
      padding: 124px 0;
      max-width: calc(100% - 150px);
    }

    @include small-tablet {
      max-width: calc(100% - 80px);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__numeric {
    font-size: 100px;
    line-height: 117px;
    font-weight: 700;
    color: $white;
    letter-spacing: .03em;

    @include big-desktop {
      font-size: 80px;
      line-height: 93px;
      text-align: center;
    }

    @include big-tablet {
      font-size: 70px;
      line-height: 83px;
    }

    @include tablet {
      font-size: 55px;
      line-height: 70px;
    }

    @include extra-tablet {
      font-size: 5.54vw;
    }

    @include small-tablet {
      font-size: 6.51vw;
    }
  }

  &__dlc {
    display: inline-block;
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
    transform: translateX(-25px);

    @include big-desktop {
      font-size: 30px;
      line-height: 35px;
    }

    @include tablet {
      transform: translateX(-15px);
    }

    @include small-tablet {
      font-size: 20px;
      line-height: 29px;
    }
  }

  &__descr {
    max-width: 250px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    color: $white;
    letter-spacing: .03em;
    text-transform: uppercase;
    text-align: center;

    @include big-desktop {
      font-size: 18px;
      line-height: 21px;
    }

    @include big-tablet {
      font-size: 15px;
      line-height: 18px;
    }

    @include small-tablet {
      font-size: 10px;
      line-height: 11px;
    }
  }
}
