.welcome {
  background: url("../img/welcome-background.webp") center bottom  no-repeat $black;
  background-size: contain;

  @include big-desktop {
    background: url("../img/welcome-background-1440.webp") center bottom no-repeat $black;
    background-size: contain;

  }

  @include tablet {
    background: url("../img/welcome-background-1024.webp") center bottom no-repeat $black;
    background-size: contain;
  }

  @include extra-tablet {
    background: url("../img/welcome-background-768.webp") left bottom no-repeat $black;
    background-size: auto;
  }

  @include mobile {
    background: url("../img/welcome-background-320.webp") center bottom no-repeat $black;
    background-size: auto;
  }

  &__container {
    padding: 285px 160px 323px 100px;

    @include big-desktop {
      padding-bottom: 270px;
    }

    @include big-tablet {
      padding-top: 230px;
      padding-bottom: 150px;
      padding-left: 50px;
    }

    @include tablet {
      padding-top: 200px;
      padding-right: 75px;
      padding-bottom: 110px;
    }

    @include mobile {
      padding: 123px 5px 150px;
    }
  }

  &__heading {
    text-align: right;
    @include ff-Cormorant;
    font-size: 200px;
    line-height: 200px;
    font-weight: 400;
    letter-spacing: 0.16em;
    color: $blue;
    text-transform: uppercase;

    @include big-desktop {
      font-size: 180px;
    }

    @include big-tablet {
      font-size: 150px;
      line-height: 180px;
    }

    @include tablet {
      font-size: 130px;
      line-height: 130px;
    }

    @include extra-tablet {
      font-size: 13.1vw;
      line-height: 100px;
    }

    @include mobile {
      font-size:  15.55vw;
      line-height: 60px;
      text-align: center;
    }
  }

  &__text {
    @include ff-Roboto;
    font-size: 50px;
    line-height: 59px;
    font-weight: 500;
    letter-spacing: .16em;
    color: $white;
    text-transform: none;

    @include mobile {
      display: block;
      font-size: 3.99vw;
      line-height: 26px;
    }
  }

  &__logo {
    margin-bottom: 5px;
    font-size: 150px;
    line-height: 115px;
    font-weight: 300;
    color: $white;
    text-align: right;

    @include big-tablet {
      font-size: 125px;
    }

    @include tablet {
      font-size: 90px;
    }

    @include extra-tablet {
      font-size: 80px;
      line-height: 80px;
    }

    @include small-tablet {
      font-size: 70px;
      line-height: 70px;
    }

    @include mobile {
      font-size: 50px;
      line-height: 60px;
      text-align: center;
    }
  }

  &__name {
    display: inline-block;
    transform: translateX(35px);

    @include tablet {
      transform: translateX(20px);
    }

    @include mobile {
      transform: translateX(10px);
    }
  }

  &__subscribe {
    display: block;
    font-size: 16.85px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: .16em;
    color: $gray-E5;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;

    @include big-tablet {
      font-size: 13.3px;
      line-height: 20px;
    }

    @include tablet {
      font-size: 11px;
      line-height: 13px;
      margin-top: -5px;
    }

    @include extra-tablet {
      font-size: 8.5px;
      line-height: 10px;
      margin-top: 0;
    }

    @include small-tablet {
      margin-top: 0;
      font-size: 7.5px;
    }

    @include mobile {
      font-size: 6px;
      margin-top: -7px;
      transform: translateX(5px);
    }
  }

  &__image {
    @include big-tablet {
      width: 60px;
      height: 60px;
    }

    @include tablet {
      max-width: 45px;
      max-height: 45px;
    }

    @include extra-tablet {
      max-width: 35px;
      max-height: 35px;
    }

    @include mobile {
      max-width: 30px;
      max-height: 30px;
    }
  }
}
