@mixin btn-primary {
  display: block;
  max-width: 360px;
  margin: 0 auto;
  padding: 34px 75px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: $white;
  letter-spacing: .03em;
  background-color: $blue;
  text-transform: uppercase;
  text-align: center;

  @include big-desktop {
    max-width: 270px;
    padding: 25px 43px;
    font-size: 18px;
    line-height: 21px;
  }
}
