@mixin ff-Roboto {
  font-family: 'Roboto', 'sans-serif';
}

@mixin ff-Manrope {
  font-family: 'Manrope', 'Roboto', 'sans-serif';
}

@mixin ff-Cormorant {
  font-family: 'Cormorant', 'Roboto', 'sans-serif';
}
