<section class="application">
  <div class="container application__container">
    <h2 class="heading-reset application__heading">
      Оставляйте заявку на консультацию
    </h2>
    <div class="application__subheading">
      наши специалисты свяжутся с вами и подберут оптимальное решение для вашего офиса!
    </div>
    <form action="#" method="post" class="application__form form-app">
      <label for="name" class="form-app__label">
        <input type="text" name="name" id="name" class="form-app__input input-reset" placeholder="Имя">
      </label>
      <label for="email" class="form-app__label">
        <input type="text" name="email" id="email" class="form-app__input input-reset" placeholder="E - mail">
      </label>
      <label for="email" class="form-app__label">
        <input type="text" name="phone" id="phone" class="form-app__input input-reset" placeholder="+7 (999) 999 - 99 - 99">
      </label>
      <div class="form-app__subscribe">Нажимая на кнопку «Отправить», вы соглашаетесь на обработку <a href="" class="form-app__confidential">персональных данных</a></div>
      <input type="submit" value="Отправить" class="input-reset form-app__btn" name="send">
    </form>
  </div>
</section>
