<section class="hero">
  <div class="container hero__container">
    <div class="welcome__logo hero__logo">
      <span class="welcome__name">ReM</span>
      <picture>
        <source srcset="./img/o.avif" type="image/avif">
        <source srcset="./img/o.webp" type="image/webp">
        <img loading="lazy" src="./img/o.png" class="welcome__image image" width="86" height="89" alt="О">
      </picture>
      <span class="welcome__subscribe">Российский оператор IT - услуг</span>
    </div>
    <h1 class="hero__heading heading-reset">Аутсорсинг <span class="block">офисной печати</span></h1>
    <div class="hero__breadcrumbs breadcrumbs">
      <ul class="list-reset breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">
            Главная
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">
            Услуги
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link is-active">
            Аутсорсинг офисной <span class="block">печати</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="hero__description">
      <p class="hero__paragraph">
        Компания ReMo предлагает повысить управляемость в вашей компании, за счет сохранения времени вашим сотрудникам. <strong class="hero__strong">Закажите аутсорсинг офисной печати (Managed Print Service) и работать станет проще!</strong>
      </p>
      <p class="hero__paragraph">
        <strong class="hero__strong">Управляемость компании - это важнейший принцип ее успешного функционирования и дальнейшего развития. Поэтому повышение управляемости - одна из главных задач любого руководителя.</strong>
      </p>
      <p class="hero__paragraph">
        Мы готовы помочь в этой задаче, поэтому все работы по техническому обслуживанию, ремонту, замене картриджей мы берем на себя. Вам не нужно будет больше об этом думать. Вы платите только за копию распечатанной страницы А4. Печатающая техника может быть предоставлена в аренду или лизинг.
      </p>
    </div>
  </div>
</section>
