<section class="iblock-4">
  <div class="container iblock-4__item iblock-4__container">
    <h2 class="heading-reset iblock-4__heading">
      <span class="fz-100">Почему</span>
      <span class="color-blue">Стоит выбрать аутсорсинг печати с ReMO?</span>
    </h2>
    <ul class="list-reset iblock-4__list">
      <li class="iblock-4__item">
        — Осуществим полный контроль над печатным документооборотом
      </li>
      <li class="iblock-4__item">
        — Гарантируем сокращение расходов на печать в компании, на 20-30%
      </li>
      <li class="iblock-4__item">
        — Обещаем полную прозрачность бюджета на печать
      </li>
      <li class="iblock-4__item">
        — Сохраним время вашим сотрудникам, разгрузим ваш ИТ-отдел от неинтересной и малоквалифицированной работы
      </li>
      <li class="iblock-4__item">
        — Наладим бесперебойную работу оборудования
      </li>
      <li class="iblock-4__item">
        — В случае неисправности, осуществим оперативный ремонт или подмену оборудования, согласно SLA.
      </li>
      <li class="iblock-4__item">
        — Обеспечим единую точку ответственности, своевременную помощь и консультации.
      </li>
      <li class="iblock-4__item">
        — Цена на комплекс услуг в рамках бюджета
      </li>
      <li class="iblock-4__item">
        — Работаем по всей территории РФ.
      </li>
    </ul>
  </div>
</section>
