<section class="iblock-3">
  <div class="container iblock-3__container">
    <h2 class="iblock-3__heading heading-reset"><span class="fz-100 color-blue">как</span><span class="color-blue">Работает </span>услуга MPS?</h2>
    <div class="iblock-3__list iblock-3__list-1">
      <h3 class="heading-reset iblock-3__title">
        Наш квалифицированный персонал:
      </h3>
      <ul class="list-reset iblock-3-list">
        <li class="iblock-3-list__item">
          — Проводит полное обследование печатающей и копировальной техники в компании;
        </li>
        <li class="iblock-3-list__item">
          — Составляет детальный анализ всех затрат на процесс печати в организации;
        </li>
        <li class="iblock-3-list__item">
          — Предоставляет предложение по оптимизации процессов печати в компании.
        </li>
      </ul>
    </div>
    <div class="iblock-3__list iblock-3__list-2">
      <h3 class="heading-reset iblock-3__title">
        Наш квалифицированный персонал:
      </h3>
      <ul class="list-reset iblock-3-list">
        <li class="iblock-3-list__item">
          — Комплексное обслуживание печатающих устройств: диагностику, профилактику, ремонт, замену расходников и зап. частей;
        </li>
        <li class="iblock-3-list__item">
          — Разгрузку вашего IT — отдела от неинтересной и малоквалифицированной работы;
        </li>
        <li class="iblock-3-list__item">
          — Программное обеспечение для удаленного снятия показаний счетчиков печатных устройств;
        </li>
        <li class="iblock-3-list__item">
          — Ежемесячные и квартальные отчеты о сделанных копиях;
        </li>
        <li class="iblock-3-list__item">
          — Формируется подменный склад оборудования для аренды или лизинга принтеров, запас расходных материалов и зап. частей;
        </li>
        <li class="iblock-3-list__item">
          — Восстановление работоспособности по заявке. В случае невозможности ремонта, предоставляется подменное оборудование также предусмотренно постгарантийное обслуживание.
        </li>
      </ul>
    </div>
  </div>
</section>
