<section class="iblock-2">
  <div class="container iblock-2__container">
    <h2 class="visually-hidden">SEO block</h2>
    <div class="iblock-2__description">
      <div class="iblock-2__paragraph">
        Если рассчитать расходы для компании с большим бумажным документооборотом, то получатся приличные затраты и огромный объем работ, который приходится выполнять сотрудникам IT — отдела.
      </div>
      <div class="iblock-2__paragraph">
        Есть простая и доступная альтернатива — оплата за каждую отпечатанную копию. В этом случае вы существенно снизите затраты на обслуживание и повысите управляемость за счет снижения воздействия на личный штат.
      </div>
    </div>
  </div>
</section>
