<section class="iblock-1">
  <div class="iblock-1__container container">
    <h2 class="iblock-1__heading heading-reset"><span class="fz-100">почему</span>Аутсорсинг печати <span class="color-blue">выгоден</span> для компаний?</h2>
    <div class="iblock-1__subscribe">
      Крупные компании тратят до 6% своей прибыли на печать.<br>
      В расходы на печать входят очевидные и «скрытые» расходы:
    </div>
    <div class="iblock-1__list-1 accordion-320">
      <h3 class="iblock-1__title heading-reset">
        Очевидные статьи расходов:
        <svg class="accordion-320__icon">
            <use xlink:href="img/sprite.svg#accordion-cross"></use>
        </svg>
      </h3>
      <ul class="list-reset iblock-1__list iblock-1-list">
        <li class="iblock-1-list__item">
          Покупка принтеров и МФУ;
        </li>
        <li class="iblock-1-list__item">
          Приобретение расходных материалов;
        </li>
        <li class="iblock-1-list__item">
          Покупка зап. частей для ремонта<br>
          (выбор подрядчика для ремонта оборудования);
        </li>
        <li class="iblock-1-list__item">
          Техническое обслуживание и ремонт печатающей техники.
        </li>
      </ul>
    </div>
    <div class="iblock-1__list-2 accordion-320 accord-close">
      <h3 class="iblock-1__title heading-reset">
        «Скрытые» статьи расходов:
        <svg class="accordion-320__icon">
          <use xlink:href="img/sprite.svg#accordion-cross"></use>
        </svg>
      </h3>
      <ul class="list-reset iblock-1__list iblock-1-list">
        <li class="iblock-1-list__item">
          «Несанкционированная» печать в личных целях сотрудников;
        </li>
        <li class="iblock-1-list__item">
          Ошибочные или лишние копии;
        </li>
        <li class="iblock-1-list__item">
          Дополнительные затраты на обслуживание принтеров;
        </li>
        <li class="iblock-1-list__item">
          Затраты, связанные с простоем и поломкой техники;
        </li>
        <li class="iblock-1-list__item">
          Расходы на электроэнергию;
        </li>
        <li class="iblock-1-list__item">
          Расходы на складские помещения и т.д.
        </li>
      </ul>
    </div>
  </div>
</section>
