<section class="join-us">
  <div class="container join-us__container">
    <h2 class="heading-reset join-us__heading"><span class="fz-100">Как</span>стать нашим клиентом?</h2>
    <div class="join-us__description">
      <p class="join-us__paragraph heading-reset">
        Если вам важно повысить управляемость компании, разгрузить работу ИТ-отдела, получить быстрое решение офисных проблем — Вы по адресу!
      </p>
      <p class="join-us__paragraph heading-reset">
        С нами — Ваша головная боль уйдет!
      </p>
    </div>
    <button class="btn-reset join-us__btn"></button>
  </div>
</section>
