<section class="about" id="about">
  <div class="container about__container">
    <h1 class="heading-reset about__heading">
      Профессиональный IT - аутсорсинг<span class="about__country"> в Российской федерации</span>
    </h1>
    <h2 class="about__subtitle heading-reset">
      Надёжное и чёткое выполнение договорных обязательств
    </h2>
    <h2 class="about__subheading about__subheading heading-reset">
      Полное погружение в ваш проект. <span class="about__subscr">Скорость реагирования от 15 минут.</span>
    </h2>
    <div class="about__descr">
      Реализуя главную миссию, эффективно решать задачи, поставленные клиентами, мы внедряем новые компетенции, совершенствуем систему обслуживания, работаем над тем, чтобы взаимодействие с заказчиком было еще оперативнее.
    </div>
    <article class="about__card-1 card">
      <div class="card__text">
        с <span class="card__year">20<span class="text-stroke">11</span></span><span class="text-stroke">года</span>
      </div>
      <div class="card__info">
        на россий<span class="text-stroke">ском рынке</span>
      </div>
    </article>
    <article class="about__card-2 card-today">
      <div class="card-today__text">
        ReMo сегодня – это партнер, которому доверяют и рекомендуют друзьям!
      </div>
    </article>
  </div>
</section>
