<nav class="nav" title="Меню">
  <ul class="nav__list list-reset">
    <li class="nav__item">
      <a href="#about" class="nav__link">
        О компании
      </a>
    </li>
    <li class="nav__item">
      <a href="#services" class="nav__link">
        It - услуги
      </a>
    </li>
    <li class="nav__item">
      <a href="#license" class="nav__link">
        Лицензии и сертификаты
      </a>
    </li>
    <li class="nav__item">
      <a href="#footer" class="nav__link">
        Контакты
      </a>
    </li>
  </ul>
  <div class="nav__dropdown">
    Сервисный центр
  </div>
  <div class="nav__down">
    <div class="nav__schedule">
      Пн - Пт: 09:00 - 18:00
    </div>
    <a class="nav__tel" href="tel:+78005110068">+7 (800)-511-00-68</a>
  </div>
  <div class="nav__dropdown nav__sales">
    отдел продаж
  </div>
  <div class="nav__down">
    <div class="nav__schedule">
      Пн - Пт: 09:00 - 18:00
    </div>
    <a class="nav__tel" href="tel:+78005110068">+7 (800)-511-00-68</a>
  </div>
  <div class="nav__social">
    <ul class="nav__social-list list-reset">
      <li class="nav__social-item">
        <a href="#" class="nav__social-link">
          <picture>
              <source srcset="./img/facebook.avif" type="image/avif">
              <source srcset="./img/facebook.webp" type="image/webp">
              <img loading="lazy" src="./img/facebook.png" class="image" width="25" height="25" alt="Facebook">
          </picture>
        </a>
      </li>
      <li class="nav__social-item">
        <a href="#" class="nav__social-link">
         <picture>
             <source srcset="./img/twitter.avif" type="image/avif">
             <source srcset="./img/twitter.webp" type="image/webp">
             <img loading="lazy" src="./img/twitter.png" class="image" width="25" height="25" alt="Twitter">
         </picture>
        </a>
      </li>
    </ul>
  </div>
</nav>
