<footer class="footer" id="footer">
  <div class="footer__container container">
    <div class="footer__left">
      <div class="footer__list-heading">
        Контакты
      </div>
      <ul class="footer__list-contacts list-contacts list-reset">
        <li class="list-contacts__item">
          <a class="list-contacts__link" href="tel:+78005110068">
            <svg class="list-contacts__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            +7 (800)-511-00-68
          </a>
        </li>
        <li class="list-contacts__item">
          <a class="list-contacts__link" href="mailto:rosremonn@mail.ru">
            <svg class="list-contacts__icon">
              <use xlink:href="img/sprite.svg#email"></use>
            </svg>
            rosremonn@mail.ru
          </a>
        </li>
        <li class="list-contacts__item">
          <address class="list-contacts__address">
            <svg class="list-contacts__icon">
              <use xlink:href="img/sprite.svg#placemark"></use>
            </svg>
            Россия, Нижний Новгород
            пр-кт Ленина, 20
          </address>
        </li>
      </ul>
      <ul class="footer__social-list social-list list-reset">
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg class="social-list__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg class="social-list__icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__center">
      <div class="footer__list-heading">
        Услуги
      </div>
      <ul class="footer__list-services list-services list-reset">
        <li class="list-services__item">
          <a href="#" class="list-services__link">
            IT - аутсорсинг
          </a>
        </li>
        <li class="list-services__item">
          <a href="#" class="list-services__link">
            Техническая поддержка
            и сопровождение
          </a>
        </li>
        <li class="list-services__item">
          <a href="#" class="list-services__link">
            Интеграционные решения
          </a>
        </li>
        <li class="list-services__item">
          <a href="#" class="list-services__link">
            Технологические услуги
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__right">
      <a href="#about" class="footer__right-link about-link">
        О компании
      </a>
      <a href="#license" class="footer__right-link license-link">
        Лицензии и сертификаты
      </a>
    </div>
    <div class="footer__copyright">
      <picture>
          <source srcset="./img/footer-logo.avif" type="image/avif">
          <source srcset="./img/footer-logo.webp" type="image/webp">
          <img loading="lazy" src="./img/footer-logo.png" class="footer__image" width="119" height="54" alt="Логотип">
      </picture>
      <div class="footer__copyright-text">
        <span class="underline">Политика конфиденциальности</span> © 2022 Все права защищены
      </div>
    </div>
  </div>
</footer>
