<section class="maintenance">
  <div class="maintenance__container container">
    <h2 class="maintenance__heading heading-reset">
      Надёжное обслуживание IT - систем
    </h2>
    <!-- Slider main container -->
    <div class="maintenance__swiper swiper">
      <!-- Additional required wrapper -->
      <div class="maintenance__swiper-wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="maintenance__slide maintenance__slide-1 swiper-slide">
          <div class="maintenance__descr maintenance__descr-1">
            Сокращаем Ваши затраты на IT – инфраструктуру на 50%
          </div>
        </div>
        <div class="maintenance__slide maintenance__slide-2 swiper-slide">
          <div class="maintenance__descr maintenance__descr-2">
            Комплексное обслуживание. Единый подрядчик – быстрое решение проблем!
          </div>
        </div>
        <div class="maintenance__slide maintenance__slide-3 swiper-slide">
          <div class="maintenance__descr maintenance__descr-3">
            <strong class="maintenance__strong">Прозрачность выполнения работ</strong>: Заключение SLA. Мониторинг состояния заявки, отчет о выполненных работах.
          </div>
        </div>
        <div class="maintenance__slide maintenance__slide-4 swiper-slide">
          <div class="maintenance__descr maintenance__descr-4">
            Быстрый старт начала работ. Выезд по всей России
          </div>
        </div>
        <div class="maintenance__slide maintenance__slide-5 swiper-slide">
          <div class="maintenance__descr maintenance__descr-5">
            25 квалифицированных айтишников в штате, более 30 на аутсорсе.
          </div>
        </div>
        <div class="maintenance__slide maintenance__slide-6 swiper-slide">
          <div class="maintenance__descr maintenance__descr-6">
            <strong class="maintenance__strong">Дополнительные услуги</strong>: Сменное оборудование, лицензионное по, пост – гарантийное обслуживание, ремонт и утилизация техники
          </div>
        </div>
        <div class="maintenance__slide maintenance__slide-7 swiper-slide">
          <div class="maintenance__descr maintenance__descr-7">
            Лицензии
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="maintenance__pagination swiper-pagination"></div>
    </div>
  </div>
</section>
