<section class="partners">
  <div class="partners__container container">
    <h2 class="visually-hidden">Наши партнеры</h2>
    <ul class="partners__list list-reset">
      <li class="partners__item">
        <a class="partners__link" href="#">
          <picture>
            <source srcset="./img/1-partners.avif" type="image/avif">
            <source srcset="./img/1-partners.webp" type="image/webp">
            <img loading="lazy" src="./img/1-partners.png" class="partners__image partners__image-1" width="81" height="30" alt="IBM">
          </picture>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <picture>
            <source srcset="./img/2-partners.avif" type="image/avif">
            <source srcset="./img/2-partners.webp" type="image/webp">
            <img loading="lazy" src="./img/2-partners.png" class="partners__image partners__image-2" width="170" height="56" alt="Сибур">
          </picture>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <picture>
            <source srcset="./img/3-partners.avif" type="image/avif">
            <source srcset="./img/3-partners.webp" type="image/webp">
            <img loading="lazy" src="./img/3-partners.png" class="partners__image partners__image-3" width="100" height="53" alt="Cisco">
          </picture>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <picture>
            <source srcset="./img/4-partners.avif" type="image/avif">
            <source srcset="./img/4-partners.webp" type="image/webp">
            <img loading="lazy" src="./img/4-partners.png" class="partners__image partners__image-4" width="166" height="21" alt="Oracle">
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
