<section class="services" id="services">
  <div class="services__container container">
    <h2 class="services__heading heading-reset">
      IT - услуги
    </h2>
    <ul class="services__list category-list list-reset">
      <li class="category-list__item">
        <div class="category-list__title no-wrap is-active" data-path="all">
          Все услуги
        </div>
        <span class="category-list__underline"></span>
      </li>
      <li class="category-list__item">
        <div class="category-list__title no-wrap" data-path="outsourcing">
          IT - аутсорсинг
        </div>
        <span class="category-list__underline"></span>
      </li>
      <li class="category-list__item">
        <div class="category-list__title" data-path="support">
          Техническая поддержка и сопровождение
        </div>
        <span class="category-list__underline"></span>
      </li>
      <li class="category-list__item">
        <div class="category-list__title" data-path="solutions">
          Интеграционные решения
        </div>
        <span class="category-list__underline"></span>
      </li>
      <li class="category-list__item">
        <div class="category-list__title" data-path="tech-services">
          Технологические услуги
        </div>
        <span class="category-list__underline"></span>
      </li>
    </ul>
    <!-- Slider main container -->
    <div class="services__swiper swiper">
      <!-- Additional required wrapper -->
      <div class="services__swiper-wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="services__slide swiper-slide">
          <article class="services__card services-card">
            <picture>
              <source srcset="./img/1-services.avif" type="image/avif">
              <source srcset="./img/1-services.webp" type="image/webp">
              <img loading="lazy" src="./img/1-services.png" class="services-card__image image" width="108" height="105" alt="Иконка">
            </picture>
            <h3 class="services-card__heading heading-reset">
              обслуживание IT - инфраструктуры
            </h3>
            <div class="services-card__descr">
              Любая информационная сеть, даже небольшая, требует постоянного внимания к себе, что подразумевает обслуживание всех ее компонентов, для предотвращения сбоев и непредвиденных ситуаций.
            </div>
            <a href="#" class="services-card__btn"></a>
          </article>
        </div>
        <div class="services__slide swiper-slide">
          <article class="services__card services-card">
            <picture>
              <source srcset="./img/2-services.avif" type="image/avif">
              <source srcset="./img/2-services.webp" type="image/webp">
              <img loading="lazy" src="./img/2-services.png" class="services-card__image image" width="108" height="105" alt="Иконка">
            </picture>
            <h3 class="services-card__heading heading-reset">
              Аутсорсинг офисной печати
            </h3>
            <div class="services-card__descr">
              Позволит вам непрерывно оптимизировать процессы печати внутри вашей компании в ответ на изменения задач бизнеса, а также сокращать расходы на печать.
            </div>
            <a href="#" class="services-card__btn btn-reset"></a>
          </article>
        </div>
        <div class="services__slide swiper-slide">
          <article class="services__card services-card">
            <picture>
              <source srcset="./img/3-services.avif" type="image/avif">
              <source srcset="./img/3-services.webp" type="image/webp">
              <img loading="lazy" src="./img/3-services.png" class="services-card__image image" width="108" height="105" alt="Иконка">
            </picture>
            <h3 class="services-card__heading heading-reset">
              обслуживание APM и офисного оборудования
            </h3>
            <div class="services-card__descr">
              Набор услуг, позволяющий обойтись без собственного системного администратора, а так же минимизировать и систематизировать затраты на поддержку оборудования.
            </div>
            <a href="#" class="services-card__btn btn-reset"></a>
          </article>
        </div>
        <div class="services__slide swiper-slide">
          <article class="services__card services-card">
            <picture>
              <source srcset="./img/4-services.avif" type="image/avif">
              <source srcset="./img/4-services.webp" type="image/webp">
              <img loading="lazy" src="./img/4-services.png" class="services-card__image image" width="108" height="105"
                   alt="Иконка">
            </picture>
            <h3 class="services-card__heading heading-reset">
              Поддержка торговых точек
            </h3>
            <div class="services-card__descr">
              Вы получаете уверенность в оперативном решении возникающих вопросов, а также выделенных специалистов, постоянно работающих с Вашей организацией, что положительно сказывается на эффективности решения задач.
            </div>
            <a href="#" class="services-card__btn btn-reset"></a>
          </article>
        </div>
        <div class="services__slide swiper-slide">
          <article class="services__card services-card">
            <picture>
              <source srcset="./img/5-services.avif" type="image/avif">
              <source srcset="./img/5-services.webp" type="image/webp">
              <img loading="lazy" src="./img/5-services.png" class="services-card__image image" width="108" height="105" alt="Иконка">
            </picture>
            <h3 class="services-card__heading heading-reset">
              Централизованная поддержка пользователей
            </h3>
            <div class="services-card__descr">
              Обеспечение единой точки управления заявками = оперативное реагирование и решение проблем!
            </div>
            <a href="#" class="services-card__btn btn-reset"></a>
          </article>
        </div>
        <div class="services__slide swiper-slide">
          <article class="services__card services-card">
            <picture>
              <source srcset="./img/6-services.avif" type="image/avif">
              <source srcset="./img/6-services.webp" type="image/webp">
              <img loading="lazy" src="./img/6-services.png" class="services-card__image image" width="108" height="105"
                   alt="Иконка">
            </picture>
            <h3 class="services-card__heading heading-reset">
              Открытие, закрытие, реконструкция объектов заказчика
            </h3>
            <div class="services-card__descr">
              Наши специалисты помогут заказчику сохранить в целости оборудование производя установку или демонтаж, в соответствии с требованиями производителя.
            </div>
            <a href="#" class="services-card__btn btn-reset"></a>
          </article>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="services__pagination maintenance__pagination swiper-pagination"></div>
    </div>
  </div>
</section>
