<section class="statistic" id="statistic">
  <div class="statistic__container container">
    <h2 class="visually-hidden">Статистика</h2>
    <ul class="statistic__list list-reset">
      <li class="statistic__item">
        <div class="statistic__numeric">
          5200 <span class="statistic__dlc">+</span>
        </div>
        <div class="statistic__descr">
          довольных клиентов
        </div>
      </li>
      <li class="statistic__item">
        <div class="statistic__numeric">
          100 <span class="statistic__dlc">+</span>
        </div>
        <div class="statistic__descr">
          сертифицированных<br>специалистов
        </div>
      </li>
      <li class="statistic__item">
        <div class="statistic__numeric">
          11 <span class="statistic__dlc">лет</span>
        </div>
        <div class="statistic__descr">
          успешной работы<br>нашей it - компании
        </div>
      </li>
      <li class="statistic__item">
        <div class="statistic__numeric">
          24/ <span class="statistic__dlc">7</span>
        </div>
        <div class="statistic__descr">
          служба <div>it - поддержки</div>
        </div>
      </li>
    </ul>
  </div>
</section>
