<section class="welcome">
  <div class="container welcome__container">
    <h2 class="welcome__heading heading-reset">
      welcome<span class="welcome__text">to</span>
    </h2>
    <div class="welcome__logo">
      <span class="welcome__name">ReM</span>
      <picture>
          <source srcset="./img/o.avif" type="image/avif">
          <source srcset="./img/o.webp" type="image/webp">
          <img loading="lazy" src="./img/o.png" class="welcome__image image" width="86" height="89" alt="О">
      </picture>
      <span class="welcome__subscribe">Российский оператор IT - услуг</span>
    </div>
  </div>
</section>
