$font-family: "Roboto", sans-serif;
$content-width: 1620px;
$container-offset: 15px;
$container-width: $content-width + ($container-offset * 2);

// Colors

$black: #000;
$dark-gray: #313030;
$dark-gray-63: rgba(49, 48, 48, 0.63);
$gray-95: rgba(120, 120, 120, 0.95);
$gray-64: rgba(187, 187, 187, 0.64);
$gray: #605f5f;
$gray-35: rgba(230, 230, 230, 0.35);
$light-gray: #e6e6e6;
$white: #fff;
$blue: #007cc6;
$scroll-gray: #9e9898;
$scroll-gray-38: rgba(158, 152, 152, 0.38);
$gray-E5: #e5e5e5;
$gray-AF: rgba(175, 175, 175, 0.79);
